<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/public/stylesheets/style.css' />
    <script>
      const GOOGLE_API_KEY = '<%= key %>';
    </script>
    <script type="module" src="/public/javascripts/google.map.js"></script>
  </head>
  <body>
    <div id="map"></div>
  </body>
</html>
